// COLORS
$primary-color: #2ebf91;
$background-color: #100e17;
$text-color: #fff;

// DETAILS COLORS
$light-gray: #7f8c8d;
$dark-gray: #2d3436;
$red: #ed4c67;
$orange: #f19066;
$purple: #8360c3;

// BOX MODEL
$white-space: 20px;
