@import '../../styles/buttons.scss';
@import '../../styles//variables.scss';

.header {
  display: flex;
  padding: 0 $white-space;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  background: $background-color;
  border-bottom: 1px solid $dark-gray;

  &__btn {
    padding-left: $white-space;
  }

  &__btn:first-child {
    padding-left: 0;
  }
}
